<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyc.cloud.search.text.mapper.TextMapper">
    <resultMap id="columnMap" type="com.zyc.cloud.search.text.model.Text">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="text_name" property="textName"/>
        <result column="text_age" property="textAge"/>
        <result column="text_sex" property="textSex"/>
    </resultMap>
    <select id="textXml" resultMap="columnMap">
        select id from tb_text
        where text_name like '%update%'
    </select>
</mapper>